<!DOCTYPE HTML>
<html lang="ja">
<head>
    <title>Credibility Assessment</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">  <!--PATH for css file-->
</head>
<body>
    <h2>Credibility Assessment System</h2>
    <br>
    <h3>-Result-</h3>
    <p><i>Target Information</i> : {{target}}</p>
    <p><i>Credibility Score</i> : {{score}}</p>
    <hr>
    <h3>-Reasoning-</h3>
    <br><hr>

    <footer>
    <a href="./.." style="text-decoration:none;">Back</a><br>
    <a href="http://gmsresearch01.komazawa-u.ac.jp/~ken/mypage/index.html" style="text-decoration:none;">Ken Honda WebPage</a><br>
    <small>&copy;copyright 2019 Ken Honda.</small>
    </footer>
</body>
</html>